#habit {
    background-color: #121212;
    color: #fff;
    letter-spacing: 1px;

    position: absolute;
    top: 0%;
    left: var(--dashboard-size);
    width: calc(100vw - var(--dashboard-size));
    height: 100%;
    padding: 20px;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    z-index: 6;
}

#habit h2 {
    font-family: Arial, serif;
    margin: 0 10px;
}

#habit canvas {
    width: 90%;
    aspect-ratio: 1/1;
}

.habitBlocks {
    position: relative;
    display: flex;
    box-sizing: border-box;
    min-height: 50px;
    width: 100%;
    align-items: center;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    font-size: 20px;
    color: white;
    border: 1px solid #444444;
    cursor: default;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; 
}

.habitBlocks:hover {
    box-shadow: 0px 0px 3px rgba(41, 121, 255, 0.5);
}

.habitBlocks span {
    width: 40%;
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
    overflow-x: hidden;
    letter-spacing: 0;
}

.habitBlocks input[type="checkbox"] {
    width: 32px;
    height: 32px;
    border: 2px solid #1E1E1E;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    right: 7px;
    box-sizing: border-box;
    margin: 0;
}

#habit-btn-box {
    position: absolute;
    top: 10px;
    left: 70%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.habitButton {
    padding: 10px;
    border: 3px solid black;
    cursor: pointer;
    font-size: 28px;
}

.habitButton:hover {
    box-shadow: 0px 0px 3px rgba(41, 121, 255, 0.5);
}

#habit-chart-btn:hover #habit-chart-box {
    display: block;
}

#habit-chart-box {
    display: none;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 100%;
    border: 2px solid black;
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #1E1E1E;
    opacity: 1;
}

#habit-info-canv {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    opacity: 1;
}




#habit-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#habit-title {
    font-size: 40px;
}

#habit-container {
    width: 30%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-sizing: border-box;
    
}

#habit-container::-webkit-scrollbar {
    width: 8px;
}

#habit-container::-webkit-scrollbar-track {
    background: transparent;
}

#habit-container::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
}

#habit-container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#habit-mode-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 10%;
}

#habit-mode-title p {
    font-size: 36px;
    cursor: pointer;
}

#habit-mode-today {
    display: none;
}




.habitAllButton {
    border-radius: 5px;
    background-color: rgb(162, 4, 4);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    padding: 5px;
    position: absolute;
    right: 10px;
    transition: all 0.1s ease;
}

.habitAllButton {
    background-color: rgb(202, 9, 9);
}

#habit-new-btn {
    font-size: 28px;
    justify-content: center !important;
}







#newHabit {
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
}

#newHabitTitle {
    margin-bottom: 30px;
}

#selectCategory5 {
    text-align: center;
}

#newHabitOptions {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#newHabitOptions input[type="text"] {
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid transparent;
    text-align: center;
}

#newHabitMode {
    position: relative;
    margin-top: 10px;
}

#newHabitMode label {
    vertical-align: middle;
}

#newHabitMode input[type="radio"] {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    vertical-align: middle;
}

#newHabitInfo {
    width: 100%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newHabitOption {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin: 10px;
    padding: 10px 0 10px 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    border: 1px black solid;
}

.newHabitOption span {
    font-size: 28px;
    margin: 10px 0 10px 0;
}

.newHabitOptionHorBox {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.newHabitOptionDayBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.5%;
    gap: 10px;
}

.newHabitOptionDayBox > span {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.newHabitOptionDayBox input[type="checkbox"] {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 5px;
}

#newHabitButtons {
    bottom: 4%;
}





.customTimePicker {
    background-color: rgb(74, 74, 74);
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    border: 1px black solid;
    width: auto;
    height: auto;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.customTimePickerHours, .customTimePickerMinutes {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    position: relative;
    color: #fff;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    border: 3px black solid;
}

.customTimePickerHours:hover .customTimePickerHoursBox, .customTimePickerMinutes:hover .customTimePickerMinutesBox {
    display: flex;
}

.customTimePickerHoursBox, .customTimePickerMinutesBox {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    border: 3px black solid;
    padding: 3px;
    transform: translateX(-50%);
    z-index: 10;
}