#inboxHeader{
    text-align: center;
    margin-bottom: 30px;
}

#inboxBody{
    height: 100%;
}

#inboxEntry {
    border: 1px solid #3A3A3A;
    background: #2A2A2A;
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    margin-bottom: 30px;
}

#inboxInput {
    color: white;
    width: 100%;
    margin-left: 10px;
    background: #2A2A2A;
    font-size: 20px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

#inboxInput:hover, #inboxEntry:hover, #inboxEntry:hover #inboxInput{
    background-color: #1E1E1E !important;
}

#inboxEntry:hover{
    border: 1px solid  #2979FF;
}

#inboxEntry::placeholder{
    color: #B3B3B3;
    opacity: 1;
}

#inboxInput:focus {
    background-color: #1A3667;
    border: none;
}

#inboxInput:focus #inboxEntry{
    background-color: red!important;
}

#inboxAdd {
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

#inboxList{
    height: calc(100% - 80px);
    overflow: hidden;
}

.inboxListBreak{
    font-size: 20px;
    border-bottom: 3px solid #2979FF;
    width: max-content;
    margin-bottom: 15px;
}

.inboxTodo {
    margin-right: 5px;
    min-height: 50px;
    background: rgba(255, 255, 255, 0.05);
    font-size: 25px;
    color: white;
    margin-bottom: 12px;
    border: 1px solid #444444;
    display: flex;
    cursor: default;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 10px;
}

.inboxTodoId {
    display: none;
}

.inboxTodoCheck {
    border-right: 1px solid #444444;
    pointer-events: none;
    position: relative;

}

.inboxCheckDot{
    height: 28px;
    width: 28px;

    border-radius: 50%;
    right: 9px;
    top: 9px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border: 2px #2979FF solid;
    background: #1E1E1E no-repeat center;
}