/* Project css */

/* --------- Project View --------- */

/* main */
#projectContent {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
}

/* header */
#projectHeader {
    height: 50px;
    background-color: #444444;
    border: 1px solid #2979FF;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

#projectHeader img {
    width: 40px;
    height: 40px;
    float: left;
    padding-left: 5px;
}

#projectName {
    margin-left: 10px;
    font-size: 40px;
}

#projectId{
    display: none;
}

#projectDelete{
    position: absolute;
    right: 5px;
    cursor: pointer;
}

#projectAskDelete{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: #55423B;
    position: absolute;
    right: 50px;
    line-height: 40px;
    padding-left: 10px;
    visibility: hidden;
}

#projectDeleteConfirm{
    margin-left: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    display: inline-block;
    height: 30px;
    align-items: center;
    line-height: 30px;
    cursor: pointer;
}

/* main */
.projectSection {
    border: #002244;
    width: 100%;
    height: calc(100% - 65px);
}

.projectSection + .projectSection {
    margin-left: 30px;
}

.projectSection .todo {
    margin-right: 0;
}

.projectSectionTitle {
    background-color: #444444;
    border: 1px solid #2979FF;
    font-size: 20px;
    height: 30px;
    width: 80%;
    text-align: center;
    line-height: 30px;
    margin: 30px auto 10px;
}

.projectSectionGoals{
    height: calc(100% - 65px);
    overflow-y: scroll;
    transition: 0.5s;
}

.projectSectionGoals .todo{
    margin-right: 5px;
}

.projectSectionGoals::-webkit-scrollbar {
    width: 0.2em;
}

.projectSectionGoals::-webkit-scrollbar-thumb {
    background-color: #888;
}

.projectSectionGoals::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* --------- Project Sidebar --------- */

/* close button */
#sideProjectClose {
    background: transparent;
    font-size: 30px;
    width: 30px;
    text-align: center;
    display: block;
    top: 20px;
    right: 0;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
}


#sideProjectClose:hover {
    background: #323232;
}

/* header */
#sideProjectHeader{

    width: 100%;
    height: 70px;
    position: relative;
}

#sideProjectsubTitle{
    font-size: 25px;
    text-align: center;

    margin-bottom: 15px;
    margin-top: 15px;
}


#sideProjectIcon{
    position: absolute;
    left: 11px;
    top: 11px;
}


#sideProjectIcon img{
    width: 55px;
    height: 55px;
}

#sideProjectTitle{

    text-align: center;
    font-size: 30px;
}

#sideProjectTitle img{
    height: 70px;
}

#sideProjectTitle span{
    position: relative;
    bottom: 26px;
}

/* display options */
#sideProjectOptions{
    cursor: pointer;
    width: 100%;
    height: 30px;
    display: flex;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sideProjectOption{
    border: 1px solid #D8E1E7;
    width: 100%;
}

#sideProjectGoals{
    overflow-y: scroll;
    height: calc(100% - 50px);
}

#sideProjectGoals::-webkit-scrollbar {
    width: 0.2em;
}

#sideProjectGoals::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* --------- Project Features--------- */

/* Project Emblem */
.projectEmblem{
    float: right;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectEmblem canvas{
    width: 35px;
    height: 35px;
}

.projectEmblem img{
    width: 35px;
    height: 35px;
}

.projectPos {
    display: none;
}

/* Already Emblem */

.alreadyEmblem{
    width: 20px;
    background-color: red;
    font-size: 20px;
    pointer-events: none;
    align-items: center;
    display: flex;
}

.alreadyEmblemILetter{
    position: relative;
    left: 5px;
}
.alreadyEmblemNLetter{
    position: relative;
    left: 1px;
}

#sideProjectId{
    display: none;
}

#projectNewGoal{
    width: 300px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}