/* --------- Sidebars Picker --------- */

#sideOptions, #projectShowed {
    top: 0;
    z-index: 3;
    width: 50px;
    float: right;
    position: absolute;
    height: 50px;
    background-color: #333333;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}


#dashOpen {
    display: none;
    left: -40px;
    position: absolute;
    top: -30px;

}

#dashOpen img {
    transform: scaleX(-1);
}

#sideOptions {
    right: 0;
}

#sideOptions img, #projectShowed img, #dashOpen img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 7px;
    left: 8px;
}

#sideOptions:hover .sidebars {
    display: block;
}

#projectShowed:hover #projectTypes {
    display: block;
}

#sideOptions:hover {
    height: 100px;
}

#sideOptions .sidebars {
    top: 1px;
}

#sideHistory {
    z-index: 2;
}

#sideHistory, #sideIdeas {
    height: 50px;
}

#sideIdeas {
    border: 1px solid black;
}

#sideHistory img, #sideIdeas img {
    pointer-events: none;
}


.sidebars {
    height: 50px;
}

.sidebars, #projectTypes {
    z-index: 1;
    display: none;
    background-color: #333333;
    position: relative;
    top: 4px;
    width: 52px;
    right: 1px;
}

#projectTypes {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    top: 8px;
}

/* --------- Project Sidebar Picker --------- */
#projectShowed {
    right: 75px;
    z-index: 2;
}

.projectType img {
    pointer-events: none;
}

.projectType {
    border: 1px solid black;
    position: relative;
    height: 50px;
    cursor: pointer;
}


.projectName {
    background-color: #FF5D00;
    width: 170px;
    height: 50px;
    position: absolute;
    top: -1px;
    right: 51px;
    text-align: center;
    border: 1px solid black;
    line-height: 50px;
    font-size: 24px;
    display: none;
}

.projectType:hover .projectName {
    display: block;
}

#sidebarClose {
    background: transparent;
    font-size: 30px;
    width: 30px;
    text-align: center;
    display: block;
    right: 5px;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
}

#sidebarClose:hover {
    background: #323232;
}

