body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Arial, serif;
    background-color: #1E1E1E;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #2A231F;
}

#leftbar {
    background: #D8E1E7;
    z-index: 1000;
    width: 100px;
}

#leftbar a {
    left: 8px;
    margin-bottom: 60px;
    top: 150px;
    position: relative;
    transition: 0.3s;
    width: 85px;
    height: 85px;
    color: white;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}

#leftbar a img {
    position: relative;
    left: 2px;
    top: 2px;
    margin-right: 5px;
    height: 80px;
}

#leftbar span {
    position: relative;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
}

#main {
    color: white;
    display: flex;
    flex-direction: column;
    background: #2A231F;
    font-size: 28px;
    padding: 50px;
    flex: 0;
    flex-grow: 1;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#onTopMain {
    padding: 10px;
    position: absolute;
    width: calc(90% - 100px);
    left: 100px;
    margin-top: 30px;
    height: 80%;
    background-color: #1E1E1E;
    border: 3px solid #FFC90E;
    z-index: 3;
    color: white;

    visibility: hidden;
}

#mainBlur{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    opacity: 0.5;
    visibility: hidden;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
}
#todosAll {
    overflow-y: scroll;
    height: calc(100% - 65px);
    transition: 0.5s;
}

#todosArea {
    margin-top: 10px;
    min-height: 50px;
    max-height: 100%;
}

#todoInput {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;

}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}


#resizer {
    flex-basis: 4px;
    cursor: col-resize;
    background: #D8E1E7;
    display: none;
}

#rightbar {
    display: none;
    color: white;
    background: #2A231F;
    box-sizing: border-box;
    border: 4px solid #D8E1E7;
    border-left: none;
    padding: 10px 10px 100px;
    flex-basis: 500px;
}


#datePicker {
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    width: 412px;
    height: 45px;
    opacity: 0;
}

#header{
    color: white;
    position: relative;
}
#mainTitle{
    font-size: 40px;
}



#subHeader {
    width: 615px;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

#date {
    font-size: 20px;
    width: max-content;
    border-bottom: solid 3px #FF5D00;
    padding-bottom: 4px;
}

#todosFinished {
    display: block;

}

#todosFinished .task {
    text-decoration: line-through;
    color: grey;

}

#todosAll::-webkit-scrollbar {
    width: 0.2em;
}

#todosAll::-webkit-scrollbar-thumb {
    background-color: #888;
}

#todosAll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.todo {
    margin-right: 5px;
    min-height: 50px;
    background: #2A231F;
    font-size: 25px;
    color: white;
    margin-bottom: 7px;
    border: 1px solid #D8E1E7;
    display: flex;
    cursor: default;
    position: relative;
}

.todoId {
    display: none;
}

.todoCheck {
    border-right: 1px solid #D8E1E7;
    pointer-events: none;
    position: relative;
    background: #FF5D00 url("images/goals/Frame 8.svg") no-repeat;
}

.checkDot {
    height: 28px;
    width: 28px;

    border-radius: 50%;
    right: 9px;
    top: 9px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    border: 2px red solid;
    background: #1E1E1E no-repeat center;

}

.check_task {
    display: block;
    margin: 0 10px auto;
    top: 10px;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    clip-path: circle(46% at 50% 50%);
    accent-color: #343638;
    pointer-events: all;
}

#finishedButton {
    background-color: #FF5D00;
    color: white;
    width: max-content;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    pointer-events: all;
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 2px 6px 0 black;
    cursor: pointer;
}

#finishedButton:active {
    box-shadow: 0 0 0 0 black;
}

#finishedButton img {
    width: 15px;
    height: 15px;
    margin-right: 10px;

    pointer-events: none;
}


#finishedButton span {
    pointer-events: none;
}


#todoEntrySimple {
    background: #55423B;
    display: flex;
}

#todoEntryComplex {
    background: #55423B;
    display: flex;
    height: 0;
    transition: 0.5s;
    border-top: #D8E1E7 1px solid;
    visibility: hidden;
    overflow: hidden;
}

#todoEntryGet {
    color: white;
    width: 100%;
    margin-left: 10px;
    background: #55423B;
    font-size: 20px;
    border: none;
    outline: none;
}

#todoRepeat{
    width: 40px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
}
#todoRepeat img{
    width: 25px;
    height: 25px;
    padding: 11px 0;
}

#repeatPicker{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: -152px;
    background-color: #282828;
    border: 1px solid #FFC90E;
    font-size: 20px;
    display: none;
}

.repeatOption{
    display: flex;
    height: 50px;
}

.repeatOption:hover{
    background-color: #3E3C4B!important;
}

.repeatCount{
    width: 30px;
    text-align: center;
    position: relative;
    top: 10px;
}
.repeatLabel{
    text-align: right;
    position: relative;
    top: 10px;
    height: 30px;
}

#todoAdd {
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

#newSteps {
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
    min-height: 230px;
}


#newSteps::-webkit-scrollbar {
    width: 0.2em;
}


#newSteps::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    margin-top: 10px;
}

#newStep {
    color: #FFC90E;
    cursor: pointer;
    width: max-content;

}

.newStepText {
    display: flex;
}

.stepEntry {
    background: transparent;
    color: white;
    height: 30px;
    border: transparent;
    position: relative;
    outline: none;
    font-size: 20px;
    width: 100%;
}


#todoSettings {
    width: 200px;
    text-align: center;
    padding-right: 20px;
}


.selectCategory {
    background: #3B151F;
    width: 200px;
    border: 1px solid #D8E1E7;
    color: white;
}

#selectCategory {
    background-color: #3B151F
}

.categoryPicker {
    width: 180px;
    height: 130px;
    position: relative;
    bottom: 152px;
    background: #2A231F;
    border: 1px solid #D8E1E7;
    padding: 10px;
    display: none;
    overflow-y: scroll;
    z-index: 2;
    color: white;
    font-size: 20px;
}

.categoryPicker::-webkit-scrollbar {
    width: 10px;
}

.categoryPicker::-webkit-scrollbar-track {
    background: #272727;
}

.categoryPicker::-webkit-scrollbar-thumb {
    background: #888;
}

.categoryPicker::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#categoryPicker2 {
    top: 41px;
    position: absolute;
    height: 105px;
}

.category {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.categoryPicker .categoryButton {
    width: 20px;
    height: 20px;
    background: #FF5D00;
    border: 1px solid black;
    display: inline-block;
}

.categoryPicker .categoryName {
    font-size: 20px;
    position: relative;
    bottom: 5px
}


.todoRange {
    width: 198px;
    -webkit-appearance: none;
    outline: none;
}


.todoRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FF5D00;
    cursor: pointer;
}

.todoRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.todoLabel {
    margin-top: 10px;
}

.taskText {
    margin: 10px;
    padding-right: 10px;
    word-break: break-word;
    width: 100%;
    overflow-y: hidden;
    pointer-events: none;
}

.repeatLabelShow{
    display: inline-block;
}
.repeatLabelShow img{
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
}

.stepsShow {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #FF5D00;
    display: block;
    width: max-content;
    padding-right: 5px;
    font-size: 20px;
    pointer-events: all;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 2px 5px 0 black;
    cursor: pointer;
}

.stepsShow:active {
    box-shadow: 0 0 0 0 black;
}

.stepsShow img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: 8px;
    pointer-events: none;
}

.stepsShow span {
    pointer-events: none;
}

.steps {
    display: block;
    pointer-events: none;
}

.step {
    font-size: 20px;
    pointer-events: none;
    display: flex;
    padding-bottom: 5px;
}

.step_text {
    pointer-events: none;
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    width: 97%;
}

.stepCheck {
    display: block;
    min-width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    pointer-events: all;
}

#head {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}

#head span {
    position: relative;
    bottom: 15px;
    font-size: 30px;
    width: 150px;

}

#polaura2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#gloryButton {
    width: 50px;
    height: 50px;
    background-color: #FF5D00;
    border: 2px solid gold;
    position: absolute;
    border-radius: 10px;
}

#gloryImg {
    position: relative;
    width: 40px;
    height: 40px;
    top: 5px;
}


.sidebarTask {
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    border-bottom: solid 1px black;
    margin-top: 15px;
    display: flex;
    color: white;
    background-color: #2A231F;
}

.sidebarTask span {
    word-break: break-word;

}

.sidebarTask div {
    padding-bottom: 10px;
    pointer-events: none;
}

.monthDay .sidebarTask{
    height: 17px;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0;

}

.monthDay .sidebarTask div {
    position: relative;
    top: 4px;
    right: 10px;
}

.monthDay .sidebarTask .historyCheck{
    visibility: hidden;
}

.historyCheck {
    display: block;
    margin-top: 0;
    margin-bottom: auto;
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
    clip-path: circle(46% at 50% 50%);
}

.historyDate {
    border-bottom: solid 2px black;
    position: relative;
    padding-bottom: 5px;
}

.historyTasks {
    margin-top: 20px;
}

.day {
    margin-top: 20px;
}

.historyAdd, .ideasAdd {
    padding-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
    font-size: 40px;
    position: relative;
    bottom: 10px;
}


#days::-webkit-scrollbar {
    width: 0.2em;
}

#days::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#ideas::-webkit-scrollbar {
    width: 0.2em;
}

#ideas::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#days {
    clear: both;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

#ideas {
    clear: both;
    position: relative;
    height: calc(100% - 105px);
    margin-bottom: 25px;
    overflow: hidden;
    overflow-y: scroll;
}

.idea {
    position: relative;
    font-size: 20px;
    left: 10px;
    pointer-events: none;
    margin-bottom: 10px;
}

#ideasInput {
    display: flex;
    height: 50px;
    width: 100%;
    background: #282828;
}

#ideasAdd {
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 50px;
    border-radius: 7px;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
    background: #1E1E1E;
}


#ideasEntry {
    color: white;
    width: calc(100% - 65px);
    margin-left: 10px;
    height: 48px;
    background: #1E1E1E;
    font-size: 20px;
    border: none;
    outline: none;
}

#editButtons{
    display: flex;
    position: relative;
    margin-bottom: 10px;
    height: 30px;
}

#editClose {
    background: transparent;
    font-size: 30px;
    width: 30px;
    text-align: center;
    display: block;
    right: 0;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
}


#editClose:hover {
    background: #323232;
}

#editBack{
    margin-left: 10px;
    width: 30px;
}

#editBack:hover {
    background: #323232;
}

#editBack img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
}

#editTodo {
    background: #55423B;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
}

#editOptions {
    background: #55423B;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    display: flex;
    position: relative;
}


#optionsNames {
    flex-grow: 1;
    text-align: center;
}

#optionsNames div {
    margin-bottom: 15px;
}

#optionsConfig {
    width: 200px;
    text-align: center;
    margin-right: 10px;
}

#optionsConfig #selectCategory2, #optionsConfig input[type="range"] {
    margin-bottom: 15px;
}

#editProject{
    font-size: 20px;
    height: 40px;
    background: #55423B;
    margin: 10px;
    display: flex;
    padding: 10px;
    position: relative;
}

#editConfirmProject{
    font-size: 20px;
    height: 150px;
    background: #55423B;
    margin: 10px;
    padding: 10px;
    position: relative;
    bottom: 10px;
    border: 5px solid red;
}

#editConfirmProjectQuestion{
    width: 100%;
    height: 75px;
    display: block;
    text-align: center;
    line-height: 75px;
    margin-bottom: 15px;

}

#editConfirmProjectButtons{
    display: flex;
    justify-content: center;
}

#editConfirmProjectYes{
    line-height: 40px;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid black;

    margin-right: 100px;
}

#editConfirmProjectNo{
    line-height: 40px;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    background-color: red;
}


#editProjectTitle{
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}

#editSelectProject, .editPickProject{
    line-height: 40px;
    height: 40px;
    width: 200px;
    text-align: center;
    margin-right: 8px;
    background-color: #FF5D00;
    border: 1px solid #D8E1E7;
    position: relative;
}

.editProjectIcon{
    width: 30px;
    height: 30px;
    background-color: #D8E1E7;
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 5px;
    border-radius: 5px;
}
.editProjectName{
    display: inline-block;
    position: relative;
    left: 10px;
}

#editProjectPicker{
    width: 200px;
    max-height: 160px;
    position: absolute;
    background-color: #2A231F;
    border: 1px solid #D8E1E7;
    right: 18px;
    top: 51px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.editPickProject{
    background-color: #2A231F;
    border: 0;
}

.editPickProjectIcon{
    width: 25px;
    height: 25px;
    position: relative;
    right: 1px;
}

#editProjectPicker::-webkit-scrollbar {
    width: 10px;
}

#editProjectPicker::-webkit-scrollbar-track {
    background: #272727;
}

#editProjectPicker::-webkit-scrollbar-thumb {
    background: #888;
}

#editProjectPicker::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#editMain {
    display: flex;
    margin-bottom: 10px;
}

#editCheck {
    position: relative;
    top: 3px;
    display: block;
    margin: 0 10px auto;
    min-width: 30px;
    min-height: 30px;
    clip-path: circle(46% at 50% 50%);
    accent-color: #343638;
}

#editText {
    color: white;
    width: 100%;
    background: #55423B;
    border-radius: 7px;
    font-size: 25px;
    border: transparent;
    overflow-y: hidden;
    resize: none;
    outline: none;
    font-family: Arial, serif;
}


.editStep {
    display: flex;
    margin-bottom: 5px;
    padding-top: 5px;

    border-bottom: 1px solid #55423B;

}

.editCheckStep {
    display: block;
    margin-left: 15px;

    min-width: 20px;
    min-height: 20px;
}

.editTextStep {
    color: #b9b4b4;
    width: 100%;
    background: #55423B;
    border-radius: 7px;
    font-size: 20px;
    border: transparent;
    outline: none;
}

#editNewStep span {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

#editNewStep {
    color: #FF5D00;
    font-size: 20px;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

#gloryHead {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#gloryHead span {
    position: relative;
    bottom: 15px;
    font-size: 30px;
}

#glorySetup{
    position: absolute;
    display: flex;
    left: 20px;
    font-size: 32px;
}
#glorySetup img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
}

#gloryFormat{
    height: 50px;
    width: 120px;
    border: #FFC90E 2px solid;
    background-color: #FF5D00;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;

}
#gloryFormatText{
    position: relative;
    top: 7px;
}

#gloryCurrentSetup{
    width: 150px;
    position: relative;
    top: 9px;
    margin-right: 20px;
    margin-left: 10px;
}
.gloryChangeMonth{
    width: 50px;
    height: 50px;
    border: #FFC90E 2px solid;
    background-color: #FF5D00;
    border-radius: 5px;
}

#gloryContent{
    width: 100%;
    height: calc(100% - 60px);
}

.gloryHalf{
    height: 50%;

}
#gloryHalf1{
    position: relative;
}

#gloryHalf2{
    position: relative;
}

#gloryTimeline{
    position: absolute;
    bottom: -18px;
    width: 92%;
    margin-left: calc(4% - 5px);
    height: 5px;
    background-color: white;
    border: none;
}
.vl{
    width: 5px;
    height: 30px;
    background-color: white;
}

.dayTimeline{
    font-size: 20px;
    position: relative;
    top: 5px;
}

#verticalLinesTop{
    display: flex;
    justify-content: space-between;
    width: calc(92%);
    margin-left: calc(4% - 5px);
    position: absolute;
    bottom: 0;
    height: 30px;
}

#verticalLinesBottom{
    display: flex;
    justify-content: space-between;
    width: calc(94%);
    margin-left: calc(4% - 20px);
    position: absolute;
    top: 0;
    height: 30px;
}

#gloryHalfContentTop{
    display: flex;
    margin-left: 0.6%;
    width: 98%;
    height: calc(100% - 35px);
}

#gloryHalfContentBot{
    display: flex;
    position: relative;
    top: 30px;
    margin-left: 3.6%;
    width: 92%;
    height: calc(100% - 35px);
}

.gloryDay{
    height: 100%;
    width: 100%;
    position: relative;

}
.gloryGoals{
    max-height: 100%;
    overflow-y: scroll;
}
.gloryGoals {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.gloryGoals::-webkit-scrollbar {
    display: none;
}

.gloryGoal{
    height: 50px;
    width: calc(100% - 14px);
    max-width: 65px;
    margin: 5px auto;
    background: #FF5D00 url(images/goals/glory0.svg) no-repeat center;
    border: 2px black solid;
}

#gloryHalfContentTop .gloryGoals{
    width: 100%;
    position: absolute;
    bottom: 0;
}



#vignette {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(100, 100, 100, 0.5);
    color: rgba(100, 100, 100, 0.5);
    z-index: 100;
    display: none;
}

#newCategory, #removeCategory{
    position: absolute;
    color: black;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    background-color: #D8E1E7;
    border: #000000 3px solid;
    border-radius: 10px;
    display: none;
}

#newCategoryContent, #removeCategoryContent{
    padding: 10px;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#newCategoryTitle, #removeCategoryTitle{
    width:60%;
    height:8%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7%;
}

#newCategorySettingsNames,
#newCategorySettingsColor{
    display: flex;
    align-items: left;
    justify-content: left;
    width:80%;
    height:10%;
    margin-bottom: 7%;
}

#newCategoryNameLabel,
#newCategoryColorLabel{
    height: 100%;
    margin-right: 5%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newCategoryName{
    position: relative;
    font-size: 20px;
    background-color: #D8E1E7;
    width: 8%;
    height: 100%;
    outline: none;
    border: 1px solid black;
    flex: 1;
}

#newCategoryButtons, #removeCategoryButtons{
    position: absolute;
    bottom: 8%;
    left:10%;
    width: 80%;
    height: 10%;
}

.new-category-btn, .remove-category-btn{
    position: absolute;
    text-align: center;
    font-size: 100%;
    border: 3px solid black;
    width:30%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newCategoryDiscard, #removeCategoryDiscard{
    left:0%;
    background-color: red;
    color: white;
}

#newCategoryCreate, #removeCategoryCreate{
    right:0%;
}

#newCategoryError, #removeCategoryError{
    text-align: center;
    background-color: red;
    position: relative;
    top: 5px;
    color: white;
}

#newCategoryColor {
    width: 198px;
    -webkit-appearance: none;
    outline: none;
}

#newCategoryColor::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FF5D00;
    cursor: pointer;
}

#newCategoryColor::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

#removeCategoryPicker {
    width: 200px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categoryPicker4 {
    width: 100%;
    bottom: auto;
    border: 1px solid black;
}

#selectCategory4 {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}