body {
    position: relative;
    height: auto;
    min-height: 100vh;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#leftbar {
    background: #3B151F;
    height: 100%;
    width: 100px;
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

#rightbar{
    display: block;
    color: white;
    right: 0;
    width: 200px;
    height: 100%;
    background: #2D2727;
    position: relative;
    margin: 0;

    box-sizing: border-box;
    border: 4px solid #FFC90E;
    border-left: none ;
    min-width: 0;

    padding: 10px;
}

#resizer{
    display: flex;
    flex-basis: 4px;

    position: relative;
    z-index: 2;
    cursor: col-resize;

    background: #FFC90E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: 100%;
    background-image: linear-gradient(to bottom right, #800020, #307AEA);
    font-size: 28px; /* Increased text to enable scrolling */
    z-index: 1;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    flex-direction: row;
    position: relative;
    display: block;
    margin: 0;
    padding: 50px;
}


#mySidenav a {
    position: absolute;
    left: 8px;
    transition: 0.3s;
    width: 85px;
    height: 85px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: #9B082D;
    white-space: nowrap;
    overflow: hidden;
    display: flex;


}

#mySidenav a img {
    position: relative;
    left: 2px;
    top: 2px;
    margin-right: 5px;
    display: block;
}

#mySidenav a span {
    position: relative;
    color: white;
    word-break: break-all;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 200px;
    text-align: center;

}


#mySidenav a:hover {
    width: 300px;
}

#about {
    top: 150px;
}

#blog {
    top: 245px;
}

#projects {
    top: 340px;
}

#contact {
    top: 435px;
}


.button_date {
    width: 200px;
    height: 50px;
    background-color: #4655F9;
    border: none;
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin: 0 auto;
    cursor: pointer;

}

#chooseSide{
    width: 50px;
    float: right;
}

#main #header button span {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#date {
    color: white;
    font-size: 20px;
}

#main hr {
    position: relative;
    top: -15px;

}

#dragparent {
    clear: both;
    position: relative;
    width: calc(100% );
    height: calc(100% - 290px);
    margin-bottom: 25px;
    overflow: hidden;
    overflow-y: scroll;
}

.dragthing {
    margin-right: 5px;
    min-height: 50px;
    background: #4655F9;
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
    border: 3px solid #666;
    display: flex;
    cursor: default;

}

.check_task {
    display: block;
    margin: 0 10px auto;
    top: 10px;
    min-width:30px;
    min-height: 30px;
    position: relative;

    clip-path: circle(46% at 50% 50%);
}



#add {

    background-color: #4655F9;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 50px;
    border-radius: 7px;

}

#add span {
    position: relative;
    top: -5px;
}

#entry {
    margin-top: -15px;
    width: calc(100% - 65px);
    height: 45px;
    position: relative;
    top: -18px;
    background: #343638;
    border-radius: 7px;
    color: white;
    font-size: 20px;

}

#datepicker{
    left: 465px;
    top: 50px;
    position: absolute;
    cursor: pointer;
    width: 192px;
    height: 45px;
    opacity: 0;
}

.task_text{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    word-break: break-word;
}

#dragparent::-webkit-scrollbar {
    width: 0.2em;
}

#dragparent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#dragparent::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


#head{
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#head span{
    position: relative;
    bottom: 15px;
    font-size: 30px;
    width: 150px;

}


.task_history{
    width: 100%;
    border-bottom: solid 1px black;
    margin-top: 10px;
    display: flex;
    padding-bottom: 5px;

}
.task_history span{
    word-break: break-word;
    position: relative;

    bottom: 5px;
    right: 5px;

}

.hisotry_text{
    font-size: 20px;
}
.task_history div{
    margin-bottom: auto;
    margin-top: auto;
}
.check_history{
    display: block;
    margin-top: 0;
    margin-bottom: auto;
    min-width:20px;
    min-height: 20px;
    position: relative;
    top: 10px;
    margin-right: 10px;
    clip-path: circle(46% at 50% 50%);
}

.history_date{
    border-bottom: solid 2px black;
    position: relative;
    padding-bottom: 5px;
}

.tasks_history{
    margin-top: 20px;

}

.day{
    margin-top : 20px;

}

.history_add{
    padding-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    font-size: 40px;



}