
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.sidebar {
    background: #3B151F;
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 2;
}

#main {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #800020, #307AEA);
    margin-left: 100px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    z-index: 1;
    top: 0;
    left: 0;
    padding: 50px;
    position: fixed;


}

#mySidenav a {
    position: absolute;
    left: 8px;
    transition: 0.3s;
    width: 85px;
    height: 85px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: #9B082D;
    white-space: nowrap;
    overflow: hidden;
    display: flex;


}

#mySidenav a img {
    position: relative;
    left: 2px;
    top: 2px;
    margin-right: 5px;
    display: block;
}

#mySidenav a span {
    position: relative;
    color: white;
    word-break: break-all;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 200px;
    text-align: center;

}


#mySidenav a:hover {
    width: 300px;
}

#about {
    top: 150px;
}

#blog {
    top: 245px;
}

#projects {
    top: 340px;
}

#contact {
    top: 435px;
}

#header button {
    width: 200px;
    height: 50px;
    background-color: #4655F9;
    border: none;
    color: white;
    align-items: center;

    text-decoration: none;
    display: inline-flex;
    font-size: 24px;
    margin: 0 auto;
    cursor: pointer;

}

#main #header button span {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#date {
    color: white;
    font-size: 20px;
}

#main hr {
    position: relative;
    top: -15px;

}

#dragparent {
    position: relative;
    width: calc(100% - 200px);
    height: calc(100% - 270px);
    margin-bottom: 5px;
    overflow: hidden;
    overflow-y: scroll;
}

.dragthing {
    margin-right: 5px;
    min-height: 50px;
    background: #4655F9;
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
    border: 3px solid #666;
    display: flex;
    cursor: default;

}

.check_task {
    min-width:30px;
    min-height: 30px;
    position: relative;
    margin: 10px;

}


#add {
    margin-top: 5px;
    background-color: #4655F9;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 50px;
    border-radius: 7px;
}

#add span {
    position: relative;
    top: -5px;
}

#entry {
    margin-top: 5px;
    width: calc(100% - 265px);
    height: 45px;
    position: relative;
    top: -18px;
    background: #343638;
    border-radius: 7px;
    color: white;
    font-size: 20px;
}

#datepicker{
    width: 192px;
    height: 45px;
    position: relative;
    cursor: pointer;
    right: 207px;
    bottom: 15px;
    opacity: 0;
}


.task_text{
    margin-top: 10px;
    margin-bottom: 10px;

    margin-right: 10px;
    word-break: break-word;
}

#dragparent::-webkit-scrollbar {
    width: 0.2em;
}

#dragparent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#dragparent::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

